<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Static Top Navbar Example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fontawesome core CSS -->
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><i class="fa fa-cogs fa-lg"></i>&nbsp;GCODE-Tweaker</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#"><i class="fa fa-fire fa-lg"></i>&nbsp;Temperature Manipulation</a></li>
            <li><a href="#about"><i class="fa fa-chain-broken fa-lg"></i>&nbsp;Create Tensile Stick</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<% content %>

		<div class="footer">
			<div class="pull-left text-muted">
					<small>
						Script-Version: <span class="version">0.0.1</span> | 						Powered by <a href="http://perldancer.org/">Dancer2</a> <% dancer_version %> | &nbsp;<a href="https://github.com/yulivee/GcodeTweaker"><i class="fa fa-github"></i> Repository </a>
					</small>
			</div>
			<div class="pull-right text-muted">
				<small>
				</small>
			</div>
		</div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="css/bootstrap/js/jquery.js"></script>
    <script src="css/bootstrap/js/bootstrap.js"></script>

</body></html>
<!--
<div id="footer">
Powered by <a href="http://perldancer.org/">Dancer2</a> <% dancer_version %>
</div>
</body>
</html>
-->
