<div id="page">
      <div id="sidebar">
      </div>

      <div id="content">
        <div id="header">
          <h1>Gcode-Tweaker</h1>
          <h2>This is a Test</h2>
		  <ol>
		  <% FOREACH guy IN test1 %>
		  	<li> <% guy %> </li>
		  <% END %>
        </div>

      </div>
</div>
